{% extends "base.html" %} 


{% block content %}
<h2>Список профессий</h2>
{% set occ_list =
['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите',
'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог',
'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
{% if val == "ul" %}
<ul>
{% elif val == "ol" %}
<ol>
{% endif %}
{% for occupation in occ_list %}
    <li>{{occupation}}</li>
{% endfor %}
{% if val == "ul" %}
</ul>
{% elif val == "ol" %}
</ol>
{% endif %}
{% endblock %}
